<footer class="footer">
	<div class="container">
	<img class="logo-footer-round" src="assets/images/common/logo-round.png">

		<div class="col-md-2">
			<ul class="footer-ul">
				<li>Viaplay</li>
				<li>Serier</li>
				<li>Film</li>
				<li>Sport</li>
				<li>Barn</li>
				<li>Hyrbutik</li>
				<li>Prova Viaplay</li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="footer-ul">
				<li>Om Oss</li>
				<li>Press</li>
				<li>Jobb</li>
				<li class="li-header-footer">VIASAT-KUNDER</li>
				<li>Viaplay ingår</li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="footer-ul">
				<li>Information</li>
				<li>Rio 2016</li>
				<li>Kundservice</li>
				<li>Våra plattformar</li>
				<li>Systemkrav</li>
				<li>Allmänna villkor</li>
				<li>Sekretesspolicy</li>
				<li>Cookies</li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="footer-ul">
				<li>FÖLJ Oss</li>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>LinkedIn</li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul class="footer-ul">
				<li>TV</li>
				<li>TV3</li>
				<li>TV10</li>
				<li>TV6</li>
				<li>Viasat Film</li>
				
			</ul>

		</div>
	</div>
</footer>